body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9ddcf9;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.topnav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #333;
  color: #fff;
}

.topnav-right {
  float: right;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.project {
  margin: 20px;
  width: 300px;
  height: 300px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.project-image {
  margin: 10px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.project-title {
  text-align: center;
  margin: 10px 0;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.back-btn {
  display: block;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #000;
}

header,
nav,
.content,
footer {
  padding: 20px;
  text-align: center;
  background-color: #333333;
  color: #157be9;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.topnav a[href="About.html"] {
  background-color: white;
  color: black;
}
